:root{
    /* Colors */

     /* Primary */

    --Purple: hsl(259, 100%, 65%);
    --Lightred: hsl(0, 100%, 67%);

    /* Neutral */

    --White: hsl(0, 0%, 100%);
    --Offwhite: hsl(0, 0%, 94%);
    --Lightgrey: hsl(0, 0%, 86%);
    --Smokeygrey: hsl(0, 1%, 44%);
    --Offblack: hsl(0, 0%, 8%);
}

body{
    background: var(--Smokeygrey);
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}